# Dependencias de Node.js (¡La más importante!)
node_modules/

# Archivos de entorno y configuración local
# (Cubre .env, .env.local, .env.development, etc.)
.env
.env.*
*.local

# Archivos de Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log

# Carpetas de configuración de Editores de Código (Opcional pero recomendado)
.vscode/
.idea/